.git
.vscode
__pycache__
*.pyc
.env
*venv*


# Image Processing
IP/main/images
example/
*.jpg
*.png

# AI Models
Models/llama/llama-models
models*/
wheels/
*.gguf
*.whl
*.onnx
*.pt
*.engine
*.tar
*.zip

# DB
mysql8/

# Server
build/
node_modules/