.git
.vscode
__pycache__
*.pyc
.env
.env*
*venv*


# Image Processing
IP/images
example/
*.jpg
*.png

# AI Models
Models/llama/llama-models
models/
wheels/
*.gguf
*.whl
*.onnx
*.pt
*.engine
*.tar

# DB
mysql8/

# Server
Server/socket-server/build
node_modules/