MYSQL_HOST= # DB 주소
MYSQL_PORT= # DB 포트
MYSQL_USER= # DB 사용자명
MYSQL_PASSWORD= # DB 비밀번호
MYSQL_DB= # 사용할 DB 이름
MYSQL_TABLE_records= # 차량 입출입 기록 테이블 이름
MYSQL_TABLE_parked_status= # 주차장 점유 현황 테이블 이름


# 모의결제 API - 토스페이먼츠 개발자센터
# 자세한 정보는 내 개발정보 -> 가이드 -> 자동결제(빌링) 페이지 참고
TOSS_SECRET_KEY= # 토스페이먼츠 개발자센터 -> 내 개발정보 -> API 키 -> API 개별 연동 키 -> 시크릿 키
TOSS_ISSUE_BILLINGKEY_URL=https://api.tosspayments.com/v1/billing/authorizations/issue  # 빌링키 발급 요청 URL / 토스페이먼츠 개발자센터에 공개되어 있는 URL
TOSS_REQUEST_PAYMENT_URL=https://api.tosspayments.com/v1/billing                        # 빌링키 기반 결제 요청 URL