contourpy==1.1.1
cycler==0.12.1
distro==1.9.0
fonttools==4.57.0
importlib_resources==6.4.5
imutils==0.5.4
kiwisolver==1.4.7
matplotlib==3.7.5
numpy==1.24.4
opencv-python==5.0.0.93
packaging==26.2
pillow==10.4.0
pkg_resources==0.0.0
pyparsing==3.1.4
pytesseract==0.3.13
python-dateutil==2.9.0.post0
scikit-build==0.19.1
six==1.17.0
tomli==2.4.1
zipp==3.20.2
